@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: beige;
}

.header{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7em;
    background-color: rgb(208, 208, 187);
    height: 15vh;
    align-items: center;
    overflow: hidden;
}

.container{
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    overflow: auto;
    width: 100vw;
}

.game-container{
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    grid-template-rows: 10vw 10vw 10vw;
    grid-gap: 0.2rem;
    width: 36vw;
    height: 30vw;
    background: black;
    justify-content: center;
    align-content: center;
}

.game-container div{
    background-color: beige;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.game-container div:hover{
    background-color: rgb(208, 208, 187);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Bebas Neue', cursive;
    width: 25vw;
    height: 70vh;
}

.info span{
    font-size: 2em;
}

.turn{
    margin-bottom: 5vh;
}

.reset{
    height: 40px;
    width: 150px;
    background-color: rgb(208, 208, 187);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    font-weight: bold;
}

.footer{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 208, 187);
}

.footer a{
    margin-left: 0.5vw;
}

#logo{
    transition-duration: 0.5s;
    transition-property: transform;
}

#logo:hover{
    transform: rotate(720deg);
    -webkit-transform: rotate(360deg);
}